\set ECHO none
\set VERBOSITY verbose
SET client_min_messages TO error;

-- add the schema cdb_dataservices_server to the SEARCH_PATH
DO $$ BEGIN
    PERFORM set_config('search_path', current_setting('search_path')||', cdb_dataservices_server', false);
END $$;

-- Set configuration for a user 'foo'
DO $$
  import cartodb_services
  cartodb_services.init(plpy, GD)

$$ LANGUAGE @@plpythonu@@;
