redis==2.10.5
hiredis==0.1.5
python-dateutil==2.2
googlemaps==2.5.1
rollbar==0.13.2
# Dependency for googlemaps package
requests==2.31.0
rratelimit==0.0.4
# botocore 1.19.0 introduced an error `ImportError: cannot import name 'IPV6_ADDRZ_RE'`
# and mapbox depends on botocore<=1.19.0 so forcing 1.18.18
botocore==1.18.18
mapbox==0.14.0
pygeocodio==0.11.1
flexpolyline==0.1.0

# Test
mock==1.3.0
mockredispy==2.9.0.11
nose==1.3.7
requests-mock==0.7.0
freezegun==0.3.7